/* CUSTOM PROPERTIES */

:root {
  --clr-red: #BC4B51;
  --clr-blue: #3e94b9;
  --clr-orange: #F4A259;
  --clr-yellow: #F4E285;
  --clr-green: #5B8E7D;
  --clr-olive: #8CB369;
  --clr-grey: #676767;
  --clr-white: #fff;
  --clr-black: #000;

  --ff-main: 'Poppins', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-xbold: 800;
}


/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: 1rem;
}

img, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* NAVBAR */

.navbar {
  background-color: var(--clr-white);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--clr-white);
}

.navbar ul a {
  text-decoration: none;
  color: var(--clr-black);
  font-weight: var(--fw-bold);
  padding: 20px;
  display: block;
  border-right: var(--clr-grey);
}

.navbar ul a:hover {
  color: var(--clr-white);
}

.navbar ul .visit-nav:hover {
  background-color: var(--clr-blue);
}

.navbar ul .events-nav:hover {
  background-color: var(--clr-green);
}

.navbar ul .exhi-nav:hover {
  background-color: var(--clr-orange);
  color: var(--clr-black);
}

.navbar ul .explore-nav:hover {
  background-color: var(--clr-red)
}

.navbar .logo-img {
  max-width: 7.75rem;
  margin-left: 15px;
  float: left;
  display: block;
}

.navbar .menu {
  clear:both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.navbar .menu-icon {
  padding: 28px;
  position: relative;
  float: right;
  cursor: pointer;
  margin-top: 15px; 
}

.navbar .menu-icon .nav-icon {
  background: #000;
  display: block;
  height: 3px;
  width: 22px;
  position: relative;
  transition: background .2s ease-out;
}

.navbar .menu-icon .nav-icon::before,.navbar .menu-icon .nav-icon::after {
  background-color: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
}

.navbar .menu-icon .nav-icon::after {
  top: -7px  
}

.navbar .menu-icon .nav-icon::before {
  top: 7px
}

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 250px;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/* HERO/LANDING */

.hero-img {
  padding-top: 90px;
}

.hero__container {
  position: relative;
  text-align: center;
}

.welcome {
  position: absolute;
  bottom: 0;
  padding: 0.8rem 1.8rem;
  background-color: var(--clr-green);
  color: var(--clr-white);
  text-transform: uppercase;
  font-weight: var(--fw-xbold);
}

.cta-container {
  text-align: center;
}

.cta-text {
  padding: 30px 0;
  font-weight: var(--fw-bold);
  max-width: 250px;
  margin: auto;
}

.cta-button {
  color: var(--clr-white);
  background-color: var(--clr-red);
  border: var(--clr-red) solid 2px;
  padding: 10px 15px;
  font-weight: var(--fw-bold);
  transition: all ease-in-out 250ms;
  display: inline-block;
  cursor: pointer;
}

.cta-button:hover {
  background-color: var(--clr-white);
  color: var(--clr-red);
  transform: translateY(-5px);
}

/* MAIN SECTION */


.main-container {
  margin: 60px 0 70px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 420px);
  row-gap: 30px;
}

.main-container h2,
.main-container p, .main-container a  {
  padding: 2.85rem 1.5rem;
}

.main-container h2 {
  font-size: 1.5rem;
}

.main-container a {
  display: block;
  font-weight: var(--fw-bold);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.main-container a:hover {
  transform: translateY(-5px);
  
}

.main-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-container div {
  position: relative;
}

/* GRID ARTICLES */

.event-background, 
.teach-back, .exhi-background,
.involved-back {
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.teach-header, 
.event-p, 
.involved-text, 
.exhi-text {
  max-width: 350px;
}

.event-text, .teach-text {
  margin-left: auto;
}

.event-text,
.exhi-text {
  color: var(--clr-white);
}

.event-background {
  grid-row: 1 / 2;
  grid-column: 1/5;
  background-color: var(--clr-blue);
}

.event-img {
  grid-row: 1 / 2;
  grid-column: 5/ 9;
  width: 100%;
}

.exhi-background {
  grid-row: 2 / 3;
  grid-column: 5 / 9;
  background-color: var(--clr-red);
}

.exhi-img {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  width: 100%;
}

.teach-back {
  grid-row: 3 / 4;
  grid-column: 1 / 5;
  background-color: var(--clr-orange);
}

.teach-img {
  grid-row: 3 / 4;
  grid-column: 5 / 9;
}

.involved-back {
  grid-row: 4 / 5;
  grid-column: 5 / 9;
  background-color: var(--clr-yellow);
}

.involved-img {
  grid-row: 4 / 5;
  grid-column: 1 / 5;
}

/* FOOTER */

footer {
  background-color: var(--clr-grey);
  color: var(--clr-white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  padding-bottom: 50px;
}

footer div {
  max-width: 80%;
  margin: auto;
}

footer h3 {
  padding: 20px;
  font-size: 1.5rem;
}

footer p {
  padding: 10px 0 0 20px;
}

.footer-logo {
  max-width: 120px;
  display: block;
}

footer i {
  padding: 10px;
}

/* VISIT US */ 

.visit-header {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.visit-article {
  color: var(--clr-white);
  background-color: var(--clr-green);
  padding: 2.5rem 0 2rem 3rem;
}

.visit-h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.visit-para {
  font-size: 1.1rem;
  max-width: 400px;
  margin-top: 25px;
  line-height: 30px;
}

.visit-location {
  margin: 0 auto 0 60px;
}

.nok {
  text-transform: uppercase;
}

.visit-info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.visit-info h3, 
.visit-info p {
  padding-bottom: 13px;
}

.food-article {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 2.5rem 0 2rem 3rem;
  height: 300px;
}

.food-section h2 {
  margin: 25px 0 40px 0;
}

.food-section p {
  font-size: 1.1rem;
  line-height: 30px;
  max-width: 400px;
}

.shop-section {
  padding: 2.5rem 0 2rem 3rem;
  display: flex;
  flex-direction: column;
 
}

.shop-section i {
  margin: 40px 0 10px 0;
  color: var(--clr-green);
}

.shop-section h3 {
  margin: 20px 0;
  color: var(--clr-green);
  padding-bottom: 20px;
  border-bottom: var(--clr-black) solid 2px;
  width: 30%;
}

.shop-section p {
  margin-bottom: 60px;
  max-width: 300px;
}

/* MEDIA QUERIES */

@media (min-width: 48em) {
  
  /* NAVBAR */

  .menu {
    display: flex; 
    justify-content: center;
  }
  
  .navbar li a {
    padding: 32px 50px;
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
  }

  .navbar .menu {
    clear: none;
    max-height: none;
  }

  .navbar .menu-icon {
    display: none;
  }

  /* HERO */

  .welcome {
    font-size: 3.5rem;
  }

  /* MAIN */ 

  .main-container h2 {
    font-size: 2.3rem;
  }

  /* VISIT US */ 
  
  .visit-header, 
  .food-section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 600px);
  }

  .visit-img {
    object-fit: cover;
    height: 600px;
    width: 100%;
    grid-column: 7 / 11;
    grid-row: 1 / 2;
  }

  .visit-article {
    color: var(--clr-white);
    background-color: var(--clr-green);
    display: grid;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    padding: 2.5rem 1rem 2rem 4rem;
  }

  .food-section {
    grid-template-rows: repeat(1, 400px);
  }

  .food-article {
    grid-column: 6 / 11;
    grid-row: 1 / 2;
    padding: 2.5rem 1rem 2rem 4rem;
    height: 400px;
  }

  .food-article h2 {
    font-size: 2rem;
    margin-bottom: 60px;
  }

  .food-img {
    object-fit: cover;
    height: 400px;
    width: 100%;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
  }

  .shop-section {
    flex-direction: row;
    justify-content: space-around;
  }

  .shop-section h3 {
    font-size: 1.5rem;
    width: 60%;
  }
}

@media (min-width: 70em) {

  .welcome {
    font-size: 5rem;
  }

  .hero-img {
    max-height: 700px;
    width: 100%;
    object-fit: cover;
  }

  .main-container h2 {
    font-size: 3rem;
  }

  .main-container a {
    font-size: 1.3rem;
  }

  .main-container p {
    font-size: 1.25rem;
  }

  .event-img, 
  .teach-img {
    grid-column: 4 / 9;
  }

  .event-background, 
  .teach-back {
    grid-column: 1 / 4;
  }

  .exhi-background, 
  .involved-back {
    grid-column: 6 / 9;
  }

  .exhi-img,
  .involved-img {
    grid-column: 1 / 6;
  }

  .event-text, 
  .teach-text {
    margin-right: 10px;
  }

  .exhi-text,
  .involved-text {
    margin-left: 40px;
  }
  .cta-text {
    font-size: 1.2rem;
    max-width: 300px;
  }

  .cta-button {
    font-size: 1.3rem;
  }

  /* VISIT */

  .visit-img {
    grid-column: 6 / 11;
  }

  .visit-article {
    grid-column: 1 / 6;
  }

  .food-img {
    grid-column: 1 / 7;
  }

  .food-article {
    grid-column: 7 / 11;
  }

}

@media (min-width: 90em) {

  .welcome {
    font-size: 7rem;
  }

    /* VISIT */

    .visit-img {
      grid-column: 5 / 11;
    }
  
    .visit-article {
      grid-column: 1 / 5;
    }

    .shop-flex {
      margin-left: 300px;
    }

    .shop-flex-right {
      margin-right: 300px;
    }
  
}